.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.prompt-section {
  padding: 24px;
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  padding: 24px;
}

.content-section .mat-tab-group {
  flex: 1;
}

.tab-content {
  overflow-y: auto;
}

.prompt-input {
  width: 100%;
  margin-top: 24px;
}

.main-toolbar {
  font-size: 24px;
}

.response-card {
  margin-bottom: 16px;
}

.progress-bar {
  margin-top: 16px;
}
